body{
    background-color: rgb(77, 11, 77);
}

.img-thumbnail {
    float: left;
    margin-right: 20px;
}
.img-portfolio {
    padding: 5px;
    height: 180px;
    width: 210px;
    float: center;
}

.card {
    margin-top: 20px;
}

.h2 {
    width: 100%;
    border-bottom: 3px solid rgb(77, 11, 77);
    padding-bottom: 10px;
}

footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    opacity: 0.5;
    padding: 10px;
    font-weight: bold;
}